<h2>Upload Study Material</h2>

<form method="POST" enctype="multipart/form-data">

    Title:<br>
    <input type="text" name="title" required><br><br>

    Subject:<br>
    <input type="text" name="subject" required><br><br>

    Semester:<br>
    <input type="text" name="semester" required><br><br>

    Select File:<br>
    <input type="file" name="file" required><br><br>

    <button type="submit">Upload</button>

</form>

<br>
<a href="/materials">View All Materials</a>